.employee-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1.5rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
  margin: 1.5rem;

  section {
    background: #f6fafd;
    border-radius: 8px;
    padding: 1.2rem 1rem 1rem;

    > * {
      margin-bottom: 25px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    grid-column: 1 / -1;
  }
}
