<form class="employee-form" (submit)="onSubmit($event)">
    <section>
        <ui-input 
          label="First Name"
          [formField]="employeeForm.names" 
          [required]="true"
          [externalError]="getExternalError(employeeForm.names())"
          ngDefaultControl />
        <ui-input 
          label="Last Name"
          [required]="true"
          [formField]="employeeForm.lastNames"
          [externalError]="getExternalError(employeeForm.lastNames())"
          ngDefaultControl />
        <ui-input
          label="CURP"
          maxlength="18" 
          hint="Unique Population Registry Code"
          [required]="true"
          [formField]="employeeForm.curp"
          [externalError]="getExternalError(employeeForm.curp())"
          ngDefaultControl />
         <ui-input 
          label="RFC"
          maxlength="13" 
          hint="Federal Taxpayer Registry"
          [required]="true"
          [formField]="employeeForm.rfc"
          [externalError]="getExternalError(employeeForm.rfc())"
          ngDefaultControl />
        <ui-autocomplete
          [required]="true"
          label="Nationality"
          placeholder="Select a nationality"
          [options]="NATIONALITY_OPTIONS" 
          [formField]="employeeForm.nationality" 
          [externalError]="getExternalError(employeeForm.nationality())"
          ngDefaultControl />
        <ui-datepicker
          [required]="true"
          [externalError]="getExternalError(employeeForm.birthDate())"
          [textOptions]="BIRTH_DATE_TEXT_OPTIONS" 
          [formField]="employeeForm.birthDate"
          ngDefaultControl />
    </section>

    <section>
        <ui-input
          label="Email"
          [required]="true"
          [formField]="employeeForm.email"
          [externalError]="getExternalError(employeeForm.email())"
          ngDefaultControl />
        <ui-input 
          label="Phone"
          type="tel" 
          [formField]="employeeForm.phone"
          [externalError]="getExternalError(employeeForm.phone())"
          ngDefaultControl />
        <ui-select 
          label="Country" 
          [options]="COUNTRY_OPTIONS" 
          [formField]="employeeForm.country"
          ngDefaultControl />
        <ui-autocomplete 
          label="City"
          placeholder="Select a city" 
          [options]="CITY_OPTIONS"
          [formField]="employeeForm.city" 
          ngDefaultControl />
    </section>

    <section>
        <ui-radiobutton
          label="Contract Type"
          [options]="CONTRACT_TYPE_OPTIONS"
          [formField]="employeeForm.contractType" ngDefaultControl />
        <ui-select 
          label="Role"
          [required]="true"
          [options]="ROLE_OPTIONS"
          [formField]="employeeForm.role"
          [externalError]="getExternalError(employeeForm.role())"
          ngDefaultControl />
        <ui-datepicker
          [externalError]="getExternalError(employeeForm.startDate())"
          [textOptions]="START_DATE_TEXT_OPTIONS"
          [formField]="employeeForm.startDate"
          ngDefaultControl />
    </section>

    <section>
        <ui-datepicker
          date-type="range"
          [textOptions]="AVAILABILITY_RANGE_TEXT_OPTIONS"
          [formField]="employeeForm.availabilityRange" ngDefaultControl />
        <ui-radiobutton
          label="Shift"
          [options]="SHIFT_OPTIONS"
          [formField]="employeeForm.shift"
          ngDefaultControl />
    </section>

    <section>
        <ui-checkbox
          label="Medical Insurance"
          [formField]="employeeForm.medicalInsurance"
          ngDefaultControl />
        <ui-checkbox
          label="Remote Work"
          [formField]="employeeForm.remoteWork"
          ngDefaultControl />
        <ui-checkbox
          label="Bonuses"
          [formField]="employeeForm.bonus"
          ngDefaultControl />
    </section>

    <section>
        <ui-textarea
          label="Comments"
          maxlength="300"
          placeholder="Relevant additional information"
          [formField]="employeeForm.comments"
          ngDefaultControl />
    </section>

    <div class="employee-form__buttons">
        <ui-button color="primary" label="Set Values" (buttonClick)="onSetValues()"/>
        <ui-button color="secondary" label="Set Incorrect Values" (buttonClick)="onSetIncorrectValues()" />
        <ui-button color="secondary" [label]="showFormData() ? 'Hide Current Data' : 'View Current Data'" (buttonClick)="onViewData()" />
        <ui-button color="secondary" label="View Form State (console)" (buttonClick)="onViewFormState()" />
        <ui-button color="success" button-type="submit" label="Save Employee" />
        <ui-button color="secondary" [label]="formIsDisabled() ? 'Activate' : 'Deactivate'" (buttonClick)="onDeactivate()"/>
        <ui-button color="tertiary" label="Reset" (buttonClick)="onReset()"/>
    </div>

    @if (showFormData()) { <pre>{{ formDataJson() }}</pre> }

</form>